.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rstudio Password Info
secret.env

# Personal Docker Settings
docker-compose.override.yaml

# Data
*.nc
*.ipynb_checkpoints*
*.csv

# Data folders
annual_anomalies/*
annual_observations/*
daily_climatologies/*
regional_timeseries/*
docs/*

# notbook cache data
notebooks/.cache*
notebooks/.local*
notebooks/.jupyter*
notebooks/.config*
notebooks/.ipython*

# rmarkdown intermediate files
R/GOM_Report_files/*